.about-header-title
{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 25vh;
}
.about-container
{
    margin-bottom: 2em;
}

.about-content-section
{
    margin-top: 2em;
    h3
    {
        text-transform: uppercase;
        color:  black;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 2em;
        text-align: center;

    }

    p
    {
        font-size: 0.9em;
    }
}
